@import "tailwindcss";

@theme {
  --color-primary-orange-500: hsl(25, 97%, 53%);

  --color-neutral-white: hsl(0, 100%, 100%);
  --color-neutral-grey-500: hsl(217, 12%, 63%);
  --color-neutral-grey-900: hsl(213, 19%, 18%);
  --color-neutral-grey-950: hsl(216, 12%, 8%);

  --gradient-grey-to-white: linear-gradient(
    to bottom,
    hsl(215, 20%, 17%),
    hsl(216, 24%, 12%)
  );
}
